
/* 	css style sheet for index.html 
*	@author Diego Valdes
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*************************************************************************************************************
* Global site stuff
*/

/* Web browser rules */
*::-webkit-input-placeholder {
    color: white;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: white;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: white;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

/*	default box size and margin*/
* {
	box-sizing: border-box;
	margin: 0;
	font-family: Open Sans;
	color: white;
}

/*************************************************************************************************************
* Header
*/
div.container-intro {
	background: url("Img/night_sky.jpg"); 
	/* background: url(Img/starry-sky-background.jpg); */
	background-size: cover;
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: initial; /* horizontal */
  	align-items: flex-end; /* vertical */
}

hr.intro {
	width: 33%;
	background-color: #D4AA48;
	color: #D4AA48;
	height: 2px;
}

div.container-about {
	color: #D4AA48;
	width: auto;
	padding-bottom: 25px;
}

div.container-desc {
	width: 75%;
	margin: 40px;
	font-weight: bold;
}

div.container-links {
	position: relative;
	display: inline-block;
	height: auto;
	width: 25%;
	margin: 40px;
	/*Below aren't needed as of now*/
		justify-content: flex-end; /* horizontal */
  	align-items: center; /* vertical */
}

h2.about {
	color: #D4AA48;
	padding-bottom: 10px;
	font-family: times;
	font-size: 2em;
}

p.about {
	padding-bottom: 10px;
}

a.text-link {
	color: #D4AA48;
	text-decoration: none;
}

span.icons {
	padding-left: 15px;
}
/*
* Close Header
*************************************************************************************************************/


/*************************************************************************************************************
* Work Experience
*/
div.container-work {
	width: 100%;
	height: auto;
	/*display: flex;*/
}

div.container-work-title {
	color: black;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	width: 75%;
	font-weight: bold;
}

div.container-work-exp {
	display: inline-flex;
	position: relative;
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	overflow: hidden;
}

div.cover {
	width: 75px;
	object-fit: fill;
	/* float: left; */
}

div.work-time {
	padding-left: 50px;
	padding-right: 100px;
	width: 50%;
	/*
	float: left;
	height: 100%;
*/
}

div.work-desc {
	overflow: hidden;
	width: 100%;
}

img.work {
	height: 70px;
}

h2.work {
	color: black;
	padding-bottom: 10px;
	font-family: times;
	font-size: 2em;
}

hr.work {
	width: 33%;
	background-color: black;
	color: black;
	height: 2px;
}

p.position {
	color: black;
	font-weight: bold;
}

p.work {
	color: black;
}

/*
* Close Work Experience
*************************************************************************************************************/


/*************************************************************************************************************
* Publications
*/
div.container-pubs {
	width: 100%;
	height: auto;
	background-color: #D4AA48;
	display: inline-block;
	/*display: flex;*/
}

div.container-pubs-title {
	margin: 40px;
	width: 75%;
	font-weight: bold;
}

div.row {
	/*display: inline-flex;*/
	display: flex;
    justify-content: center;
	position: relative;
	margin: 40px;
	overflow: hidden;
}

div.pub {
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
}

div.pub-authors {
	width: 100%;
}

h2.pub {
	padding-bottom: 10px;
	font-family: times;
	font-size: 2em;
}

hr.intro {
	width: 33%;
	background-color: white;
	color: white;
	height: 2px;
}

p.pub {
	color: black;
}
p.pub-title {
	color: black;
	font-weight: bold;
}
/*
* Close Publications
*************************************************************************************************************/

/*************************************************************************************************************
* Side Projects
*/
div.container-projects {
	width: 100%;
	height: auto;
	background-color: #2b2b2b;
	display: inline-block;
	/*display: flex;*/
}

div.project-container {
	display:inline-block;
  	position:relative;
  	padding-right: 25px;
  	padding-left: 25px;


}

div.project-img {
	object-fit: fill;
	/* float: left; */
	border-style: solid;
	border-width: 1px;
	border-color: #D4AA48;
	background-color: white;
}

img.project {
	height: 15em;

}

div.project-name {
	background-color: #D4AA48;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}