/* css for my website */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
}

* {
	font-family: Open Sans;
}

/*************************************************************************************************************
* Header
*/
.header {
	background: url("Img/night_sky.jpg");
	background-size: cover;
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: center;
  	align-items: center; 

}

.name {
	font-size: 5em;
	color: white;
	font-family: helvetica;
}

.title {
	text-align: center;
	color: white;
}

/*************************************************************************************************************
* About me
*/
.about-me {
	position: relative;
	background-color: #2b2b2b;
	width: 100%;
	height: auto;
	display: inline-block;
}

div.me {
	color: white;
	width: 65%;
}

h1, h4 {
	color: white;
	margin: 40px;
}

p.me {
	color: white;
	margin: 40px;
}

img.me {
	height: 500px;
	float: right;
	margin: 30px;
	border-radius: 100%; 	
}


/*************************************************************************************************************
* Skills
*/
.skills {
	background: url("Img/keyboard.jpg");
	background-size: cover;
	position: relative;
	width: 100%;
	height: auto;
	display: inline-block;
	color: white;
}

div.language {
	float: left;
	width: auto;
	padding-right: 100px;
}

div.business {
	float: left;
	padding-left: 100px;
}

ul {
  	display: flex;
  	/* change this value as you need */
  	width: 450px; 
  	justify-content: space-between;
	
}

.oval {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 120px;
  	height: 70px;
  	border-radius: 50%;
	background-color: rgba(43, 43, 43, 0.8);
  	border: 2px solid white;
  	font-weight: bold;
}

ul.list {
	display: inline;
	float: left;
	width: 100%;

	font-size: 120%;
}

/*************************************************************************************************************
* Experience
*/

.experience {
	position: relative;
	background-color: #2b2b2b;
	width: 100%;
	height: 500px;
	display: inline-block;
}

/*************************************************************************************************************
* Experience
*/

.projects {
	position: relative;
	background-color: #b1fa91;
	width: 100%;
	height: 500px;
	display: inline-block;
}

/*************************************************************************************************************
* Experience
*/
.contact {
	position: relative;
	background-color: #91f7fa;
	width: 100%;
	height: 500px;
	display: inline-block;
}

.footer {
	padding: 1em;
	color: white;
	text-align: center;
	background: url("Img/header03.jpg");
	background-size: cover;
	background-color: black;
	width: 100%;
	z-index: 1000;
	bottom: 0px;
}


/*
ul {
  margin: 1em;
  padding: 0 0 0 40px;
}
*/
li {
  margin: 0 0 10px 0;
}




/*************************************************************************************************************
*
*/

/* Class declaration */
.test {
  color: red;
}

/* Element declaration */
h2 {
  color: blue;
}




div.container {
	width: 100%;
	border: 1px solid red;
	position: relative;
	margin: 200px auto;

}





nav {
	float: left;
	max-width: 160px;
	margin: 0;
	padding: 1em;
}

nav ul {
	list-style-type: none;
	padding: 0;
}
	   
nav ul a {
	text-decoration: none;
}

article {
	margin-left: 170px;
	border: 1px solid gray;
	border-left: 1px red;
	padding: 1em;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	/* margin-bottom: 10px; */
}
