
/* Class declaration */
.test {
  color: red;
}

/* Element declaration */
h2 {
  color: blue;
}

* {
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
}


div.container {
	width: 100%;
	border: 1px solid red;
	position: relative;
	margin: 200px auto;

}

.footer {
	padding: 1em;
	color: white;
	text-align: center;
	background-color: black;
	width: 100%;
	position: fixed;
	z-index: 1000;
	bottom: 0px;
}

.header {
	/*padding: 1em;*/
	color: white;
	text-align: center;
	background: url("Img/header03.jpg");
	background-color: black;
	background-size: cover;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0px;
	display: block;
}

nav {
	float: left;
	max-width: 160px;
	margin: 0;
	padding: 1em;
}

nav ul {
	list-style-type: none;
	padding: 0;
}
	   
nav ul a {
	text-decoration: none;
}

article {
	margin-left: 170px;
	border: 1px solid gray;
	border-left: 1px red;
	padding: 1em;
	overflow: hidden;
	border-style: solid;
	border-width: 1px;
	/* margin-bottom: 10px; */
}
